.modal-window .modal-box.modal-students {
    max-width: 960px;
    width: 90%;
    border: 1px solid #282828;
    background: #EBEBEB;
    overflow-y: auto;
}
.modal-window .modal-box.modal-students .inner-modal {
    width: 100%;
    min-width: 640px;
    display: block;
    padding: 16px 20px;
}
.modal-window .modal-box.modal-students .ms-title {
    font-size: 18px;
    color: #141414;
    margin: 0;
    display: block;
    font-weight: 400;
}
.modal-window .modal-box.modal-students .ms-title span {
    font-size: 26px;
}
.modal-window .modal-box.modal-students .student-list {
    margin-top: 40px;
}
.modal-window .modal-box.modal-students .student-list .col {
    flex: 1;
    max-width: 100%;
}
.modal-window .modal-box.modal-students .student-list .col:nth-child(1) {
    flex: 0 0 210px;
    max-width: 210px;
    padding-right: 20px;
}
.modal-window .modal-box.modal-students .student-list .col.col-100 {
    flex: 1;
    max-width: 100%;
    padding-right: 0;
}
.modal-window .modal-box.modal-students .student-list .list {
    max-height: 400px;
    overflow-y: auto;
    display: block;
    width: 100%;
}
.modal-window .modal-box.modal-students .student-list .list .item {
    font-size: 16px;
    color: #141414;
    background: #ffffff;
    display: block;
    padding: 6px 12px;
    transition: 0.5s background-color, 0.5s color;
}
.modal-window .modal-box.modal-students .student-list .list .item.active, .modal-window .modal-box.modal-students .student-list .list .item:hover {
    background-color: #141414;
    color: #ffffff;
}
.modal-window .modal-box.modal-students .student-list .grades {
    width: 100%;
    padding: 16px;
    display: block;
    background: #ffffff;
    position: relative;
    max-height: 400px;
    overflow-y: auto;
}
.modal-window .modal-box.modal-students .student-list .grades p {
    margin: 0;
    font-size: 18px;
    color: #141414;
    font-weight: 400;
}
.modal-window .modal-box.modal-students .student-list .grades .export-grades {
    position: absolute;
    background-color: #27ae60;
    right: 10px;
    top: 10px;
    z-index: 2;
    color: #ffffff;
    padding: 6px 16px;
    -moz-transition: 0.5s background-color;
    -o-transition: 0.5s background-color;
    -webkit-transition: 0.5s background-color;
    transition: 0.5s background-color;
}
.modal-window .modal-box.modal-students .student-list .grades .export-grades:hover {
    background-color: #2ecc71;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table th, .modal-window .modal-box.modal-students .student-list .grades .grade-box table td {
    padding: 10px 16px;
    color: #141414;
    text-align: left;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table th {
    font-size: 20px;
    font-weight: 500;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table td {
    font-size: 16px;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table tr:nth-child(even) {
    background-color: #EBEBEB;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table .grade-btn {
    font-size: 18px;
    color: #ffffff;
    background-color: #141414;
    display: inline-block;
    padding: 6px 12px;
    -moz-transition: 0.5s background-color;
    -o-transition: 0.5s background-color;
    -webkit-transition: 0.5s background-color;
    transition: 0.5s background-color;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table .grade-btn:hover {
    background-color: #565656;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box .add-new-grade {
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    background-color: #141414;
    display: inline-block;
    padding: 6px 12px;
    -moz-transition: 0.5s background-color;
    -o-transition: 0.5s background-color;
    -webkit-transition: 0.5s background-color;
    transition: 0.5s background-color;
    text-align: center;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box .add-new-grade:hover {
    background-color: #565656;
}