.admin-page .content-col .table-wrap table .view-btn {
    font-size: 18px;
    color: #ffffff;
    background-color: #141414;
    display: inline-block;
    padding: 6px 16px;
}
.admin-page .content-col .table-wrap table .view-btn:hover {
    background-color: #525252;
}

.admin-page .content-col .schedule {
    width: 100%;
    overflow-x: auto;
    display: block;
    margin-top: 30px;
    background: #ebebeb;
    max-width: calc(100vw - 306px); /*100% window*/
}
.admin-page .content-col .schedule .schedule-inner {
    padding: 16px;
    width: 100%;
    height: auto;
    min-width: 1400px;
}
.admin-page .content-col .schedule .schedule-inner .sch-title {
    font-size: 18px;
    color: #141414;
    margin: 0;
    display: block;
    font-weight: 400;
}
.admin-page .content-col .schedule .schedule-inner .sch-title span {
    font-size: 26px;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table {
    display: block;
    width: 1350px;
    margin-top: 30px;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head {
    padding-bottom: 12px;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head:nth-child(even), .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row:nth-child(even) {
    background: #ffffff;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div {
    position: relative;
    text-align: center;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div.col-1, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div.col-1 {
    flex: 0 0 90px;
    max-width: 90px;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div.col-2, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div.col-2 {
    flex: 0 0 180px;
    max-width: 180px;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div.col-3, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div.col-3 {
    flex: 0 0 270px;
    max-width: 270px;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div.col-4, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div.col-4 {
    flex: 0 0 360px;
    max-width: 360px;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div.col-subject, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div.col-subject {
    color: #282828;
    font-size: 18px;
    padding-top: 30px;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div.col-subject span, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div.col-subject span {
    display: inline-block;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div.col-subject .note, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div.col-subject .note {
    font-size: 12px;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div.col-subject.practice, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div.col-subject.practice {
    box-shadow: inset 0px 0px 0px 2px #2ecc71;
    background: rgba(46, 204, 113, 0.1);
    margin-left:45px;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div.col-subject.lecture, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div.col-subject.lecture {
    box-shadow: inset 0px 0px 0px 2px #141414;
    background: rgba(20, 20, 20, 0.1);
    margin-left:45px;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div .time-span, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div .time-span {
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #141414;
    display: block;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div .time-span:nth-of-type(1), .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div .time-span:nth-of-type(1) {
    top: 0;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div .time-span:nth-of-type(2), .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div .time-span:nth-of-type(2) {
    bottom: 0;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div .hour-id, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div .hour-id {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
    display: block;
    color: #141414;
}
.admin-page .content-col .schedule .schedule-inner .schedule-table .st-head div .day, .admin-page .content-col .schedule .schedule-inner .schedule-table .st-row div .day {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
    display: block;
    color: #141414;
}
@media screen and (max-width: 1024px) {
    .admin-page .content-col .schedule {
        max-width: 100%;
    }
}
.modal-window .modal-box.modal-students {
    max-width: 960px;
    width: 90%;
    border: 1px solid #282828;
    background: #EBEBEB;
    overflow-y: auto;
}
.modal-window .modal-box.modal-students .inner-modal {
    width: 100%;
    min-width: 640px;
    display: block;
    padding: 16px 20px;
}
.modal-window .modal-box.modal-students .ms-title {
    font-size: 18px;
    color: #141414;
    margin: 0;
    display: block;
    font-weight: 400;
}
.modal-window .modal-box.modal-students .ms-title span {
    font-size: 26px;
}
.modal-window .modal-box.modal-students .student-list {
    margin-top: 40px;
}
.modal-window .modal-box.modal-students .student-list .col {
    flex: 1;
    max-width: 100%;
}
.modal-window .modal-box.modal-students .student-list .col:nth-child(1) {
    flex: 0 0 210px;
    max-width: 210px;
    padding-right: 20px;
}
.modal-window .modal-box.modal-students .student-list .list {
    max-height: 400px;
    overflow-y: auto;
    display: block;
    width: 100%;
}
.modal-window .modal-box.modal-students .student-list .list .item {
    font-size: 16px;
    color: #141414;
    background: #ffffff;
    display: block;
    padding: 6px 12px;
    transition: 0.5s background-color, 0.5s color;
}
.modal-window .modal-box.modal-students .student-list .list .item.active, .modal-window .modal-box.modal-students .student-list .list .item:hover {
    background-color: #141414;
    color: #ffffff;
}
.modal-window .modal-box.modal-students .student-list .grades {
    width: 100%;
    padding: 16px;
    display: block;
    background: #ffffff;
    position: relative;
    max-height: 400px;
    overflow-y: auto;
}
.modal-window .modal-box.modal-students .student-list .grades p {
    margin: 0;
    font-size: 18px;
    color: #141414;
    font-weight: 400;
}
.modal-window .modal-box.modal-students .expell {
    position: absolute;
    background-color: #e74c3c;
    right: 10px;
    top: 10px;
    z-index: 2;
    color: #ffffff;
    padding: 6px 16px;
    transition: 0.5s background-color;
}
.modal-window .modal-box.modal-students .student-list .grades .expell:hover {
    background-color: #c0392b;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table th, .modal-window .modal-box.modal-students .student-list .grades .grade-box table td {
    padding: 10px 16px;
    color: #141414;
    text-align: left;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table th {
    font-size: 20px;
    font-weight: 500;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table td {
    font-size: 16px;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table tr:nth-child(even) {
    background-color: #EBEBEB;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table .grade-btn {
    font-size: 18px;
    color: #ffffff;
    background-color: #141414;
    display: inline-block;
    padding: 6px 12px;
    transition: 0.5s background-color;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box table .grade-btn:hover {
    background-color: #565656;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box .add-new-grade {
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    background-color: #141414;
    display: inline-block;
    padding: 6px 12px;
    transition: 0.5s background-color;
    text-align: center;
}
.modal-window .modal-box.modal-students .student-list .grades .grade-box .add-new-grade:hover {
    background-color: #565656;
}

.clickable-row {
    cursor: pointer;
}
.clickable-row:hover {
    border: 1px solid black;
}